.b-datepicker {
    position: relative;
    border: 1px solid #abadb3;
    font: 11px Arial, sans-serif;
    }
    .b-datepicker > input {
        border: none;
        outline: none;
        background: none;
        }
    .b-datepicker__icon {
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -5px;
        width: 13px;
        height: 10px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAIAAADgjEOTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNpi+f//PwMYMDIyMuAGTMic/2CAlcHEQBxgQbYOzsZkMOG3jnR78VtHmr1AQCV74QAgwAAxREf5EZ6I6wAAAABJRU5ErkJggg==) no-repeat;
        cursor: pointer;
        }

    .b-datepicker__calendar_dates {}

        .b-datepicker__calendar_dates .b-datepicker-dates      { display: table; }
        .b-datepicker__calendar_dates .b-datepicker-nav__month { display: inline; }

    .b-datepicker__calendar_months {}

        .b-datepicker__calendar_months .b-datepicker-months    { display: table; }
        .b-datepicker__calendar_months .b-datepicker-nav__year { margin: 0; }

    .b-datepicker__calendar_years {}

        .b-datepicker__calendar_years .b-datepicker-years      { display: table; }
        .b-datepicker__calendar_years .b-datepicker-nav__year  { margin: 0; }

    .b-datepicker__calendar {
        width: 189px;
        position: absolute;
        right: -1px;
        float: left;
        border: 1px solid #afafaf;
        display: none;
        background: #fff; z-index: 1000;

        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        }
        .b-datepicker-header {
            border: 1px solid #f0dbc1;
            background: #f3e8cf;
            margin: 2px 2px 0 2px;

            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            }
            .b-datepicker-header__content {
                width: 100%;
                height: 24px;
                }
                .b-datepicker-nav {}

                    .b-datepicker-nav__cell-left  { padding-left: 6px; }
                    .b-datepicker-nav__cell-right { padding-right: 6px; }
                    .b-datepicker-nav__title      { width: 100%; }

                        .b-datepicker-nav__icon-left   { float: right; }
                        .b-datepicker-nav__icon-right  { float: left; }
                        .b-datepicker-nav__year        { margin: 0 0 0 5px; }

                        .b-datepicker-nav__icon-left,
                        .b-datepicker-nav__icon-right  { cursor: pointer; color: #2e2c2d; }

                        .b-datepicker-nav__year,
                        .b-datepicker-nav__month       { color: #4f4f4f; }
                        .b-datepicker-nav__month       { display: none; }
                        .b-datepicker-nav__item_active { cursor: pointer; }

        /* Таблица с выбором даты месяца */
        .b-datepicker-dates {
            display: none;
            width: 100%;
            padding: 2px 6px 1px 3px;
            }
            .b-datepicker-dates__names-row {}
                .b-datepicker-dates__names-row th {
                    font-weight: normal;
                    text-align: center;
                    color: #black;
                    border: 1px solid #fff;
                    padding-bottom: 3px;
                    }
            .b-datepicker-dates td {
                border: 1px solid #fff;
                text-align: right;
                padding-right: 3px;
                color: #575757;
                }
                .b-datepicker-dates__item {
                    cursor: pointer;
                    }
                .b-datepicker-dates__item_blocked {
                    color: #d2d2d2 !important;
                    }
                .b-datepicker-years__item:hover,
                .b-datepicker-months__item:hover,
                .b-datepicker-dates__item:hover {
                    border: 1px solid #ffca00;
                    color: #d96a00;
                    }
                .b-datepicker-months__item_selected,
                .b-datepicker-dates__item_selected,
                .b-datepicker-years__item_selected {
                    border: 1px solid #ffca00 !important;
                    color: #d96a00 !important;
                    cursor: pointer;
                    }

        .b-datepicker-today {
            width: 100%;
            height: 17px;
            margin: 3px 0 6px 0;
            }
            .b-datepicker-today__btn {
                color: #0097c8;
                border: 1px solid #aaaaaa;
                cursor: pointer;
                font-size: 10px;
                padding: 1px 10px;
                }

        /* Таблица с выбором месяца */
        .b-datepicker-months {
            width: 100%;
            display: none;
            padding: 0 3px 0 3px;
            text-align: center;
            }
            .b-datepicker-months__row {}
                .b-datepicker-months__item {
                    border: 1px solid #aaaaaa;
                    cursor: pointer;
                    font-size: 12px;
                    padding: 7px 0 7px 0;
                    }
                .b-datepicker-months__item:hover {}
                .b-datepicker-months__item_selected {
                    font-size: 12px;
                    }

        /* Таблица с выбором года */
        .b-datepicker-years {
            width: 100%;
            display: none;
            padding: 0 3px 0 3px;
            text-align: center;
            }
            .b-datepicker-years__row {}
                .b-datepicker-years__item {
                    border: 1px solid #aaaaaa;
                    cursor: pointer;
                    font-size: 12px;
                    padding: 7px 0 7px 0;
                    }
                .b-datepicker-years__item:hover {}
                .b-datepicker-years__item_selected {
                    font-size: 12px;
                    }