.jade {
    position: relative;
    border: 1px solid #abadb3;
    font: 11px Arial, sans-serif;
    }
    .jade > input {
        border: none;
        outline: none;
        background: none;
        }
    .jade__icon {
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -5px;
        width: 13px;
        height: 10px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAIAAADgjEOTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNpi+f//PwMYMDIyMuAGTMic/2CAlcHEQBxgQbYOzsZkMOG3jnR78VtHmr1AQCV74QAgwAAxREf5EZ6I6wAAAABJRU5ErkJggg==) no-repeat;
        cursor: pointer;
        }

    .jade__calendar_dates {}

        .jade__calendar_dates .jade-dates      { display: table; }
        .jade__calendar_dates .jade-nav__month { display: inline; }

    .jade__calendar_months {}

        .jade__calendar_months .jade-months    { display: table; }
        .jade__calendar_months .jade-nav__year { margin: 0; }

    .jade__calendar_years {}

        .jade__calendar_years .jade-years      { display: table; }
        .jade__calendar_years .jade-nav__year  { margin: 0; }

    .jade__calendar {
        width: 189px;
        position: absolute;
        right: -1px;
        float: left;
        border: 1px solid #afafaf;
        display: none;
        background: #fff; z-index: 1000;

        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        }
        .jade-header {
            border: 1px solid #f0dbc1;
            background: #f3e8cf;
            margin: 2px 2px 0 2px;

            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            }
            .jade-header__content {
                width: 100%;
                height: 24px;
                }
                .jade-nav {}

                    .jade-nav__cell-left  { padding-left: 6px; }
                    .jade-nav__cell-right { padding-right: 6px; }
                    .jade-nav__title      { width: 100%; }

                        .jade-nav__icon-left   { float: right; }
                        .jade-nav__icon-right  { float: left; }
                        .jade-nav__year        { margin: 0 0 0 5px; }

                        .jade-nav__icon-left,
                        .jade-nav__icon-right  { cursor: pointer; color: #2e2c2d; }

                        .jade-nav__year,
                        .jade-nav__month       { color: #4f4f4f; }
                        .jade-nav__month       { display: none; }
                        .jade-nav__item_active { cursor: pointer; }

        /* Таблица с выбором даты месяца */
        .jade-dates {
            display: none;
            width: 100%;
            padding: 2px 6px 1px 3px;
            }
            .jade-dates__names-row {}
                .jade-dates__names-row th {
                    font-weight: normal;
                    text-align: center;
                    color: #black;
                    border: 1px solid #fff;
                    padding-bottom: 3px;
                    }
            .jade-dates td {
                border: 1px solid #fff;
                text-align: right;
                padding-right: 3px;
                color: #575757;
                }
                .jade-dates__item {
                    cursor: pointer;
                    }
                .jade-dates__item_blocked {
                    color: #d2d2d2 !important;
                    }
                .jade-years__item:hover,
                .jade-months__item:hover,
                .jade-dates__item:hover {
                    border: 1px solid #ffca00;
                    color: #d96a00;
                    }
                .jade-months__item_selected,
                .jade-dates__item_selected,
                .jade-years__item_selected {
                    border: 1px solid #ffca00 !important;
                    color: #d96a00 !important;
                    cursor: pointer;
                    }

        .jade-today {
            width: 100%;
            height: 17px;
            margin: 3px 0 6px 0;
            }
            .jade-today__btn {
                color: #0097c8;
                border: 1px solid #aaaaaa;
                cursor: pointer;
                font-size: 10px;
                padding: 1px 10px;
                }

        /* Таблица с выбором месяца */
        .jade-months {
            width: 100%;
            display: none;
            padding: 0 3px 0 3px;
            text-align: center;
            }
            .jade-months__row {}
                .jade-months__item {
                    border: 1px solid #aaaaaa;
                    cursor: pointer;
                    font-size: 12px;
                    padding: 7px 0 7px 0;
                    }
                .jade-months__item:hover {}
                .jade-months__item_selected {
                    font-size: 12px;
                    }

        /* Таблица с выбором года */
        .jade-years {
            width: 100%;
            display: none;
            padding: 0 3px 0 3px;
            text-align: center;
            }
            .jade-years__row {}
                .jade-years__item {
                    border: 1px solid #aaaaaa;
                    cursor: pointer;
                    font-size: 12px;
                    padding: 7px 0 7px 0;
                    }
                .jade-years__item:hover {}
                .jade-years__item_selected {
                    font-size: 12px;
                    }